sudo: required
services:
    - docker

before_install:
    - docker build -t deshneil/fib-test -f ./client/Dockerfile.dev ./client

script:
    - docker run -e CI=true deshneil/fib-test npm test -- --coverage

after_success:
    - docker build -t deshneil/fib-client ./fib-client
    - docker build -t deshneil/fib-nginx ./nginx
    - docker build -t deshneil/fib-server ./server
    - docker build -t deshneil/fib-worker ./worker
#Login to docker cli
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
#push these created images to docker hub
    - docker push deshneil/fib-client
    - docker push deshneil/fib-nginx
    - docker push deshneil/fib-server
    - docker push deshneil/fib-worker


